@import '../../styles/variables.module.scss';


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    .aboutLinksContainer {
        .linksContainer {
            margin-top: 2rem;
        }
    }
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    .aboutLinksContainer {
        .linksContainer {
            margin-top: 2rem;
        }
    }
}

@media only screen and (min-width: 780px){
    .container {
        flex-direction: row;
        justify-content: center;
        .aboutLinksContainer {
            display: flex;
            flex-direction: column;
            width: 34rem;
            .linksContainer {
                align-self: flex-start;
            } 
        }
    } 
    .container2 {
        flex-direction: row-reverse;
        justify-content: center;
        .aboutLinksContainer {
            display: flex;
            flex-direction: column;
            width: 34rem;
            .linksContainer {
                align-self: flex-start;
            } 
        }
    }
    
}

@media only screen and (min-width: 1300px){
    .container {
        gap: 8rem;
        .aboutLinksContainer {
            width: 36rem;
        }
    } 
    .container2 {
        gap: 8rem;
        .aboutLinksContainer {
            width: 36rem;

        }
    }
    
}