@import '../../styles/variables.module.scss';


.header {
    background-color:#181818 ;
    position: fixed;
    z-index: 1;
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #8f8f8f;
    font-family: $mainFont;
    animation-duration: 0.6s;
    height: 60px;
    .nav {
        display: flex;
        align-content: center;
        justify-content: center;
        .navUl {
            display: flex;
            gap: 2.5rem;
            color: #DFDFDF;
            font-size: $fontSize18px;
            list-style: none;
            font-family: $mainFont;
            padding: 0;
            color: $fontColor;
            .li {
                cursor: pointer;
            }
        }
    }
}
@media only screen and (max-width: 780px){
    .header{
        .socialLinks {
            display: none;
            
        }
        }
        
    
    }

@media only screen and (min-width: 600px){
    .header{
        .nav {
            .navUl {
                gap: 4rem;
            }
        }
        
    }
}
@media only screen and (min-width: 780px){
    .header{
        height: 80px;
        justify-content: space-between;
        .socialLinks {
           padding-left: 4rem;
        }
        .nav {
           
            .navUl {
                padding-right: 4rem;
                gap: 4rem;
                font-size: $fontSize20px;
            }
        }
        
    }
}