@import '../../styles/variables.module.scss';


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .headlineContainer {
        .aboutMe {
            font-size: $fontSize24px;
            font-weight: $FWregular;
            margin-bottom: 2px;
        }
        .line {
            height: 10px;
            width: 105px;
            background: linear-gradient(90deg, #5E649B -0.03%, #FF3333 99.97%);
            border-radius: 5px;
        }
        
    }
    
    .headshotMobile {
        border-radius: 5px;
    }
}
