@import '../../styles/variables.module.scss';




.container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    .text {
        font-size: $fontSize16px;
        font-weight: $FWsemiBold;
        margin: 0;
    }
    .line {
        padding: 6px 10px 6px 10px;
        border-bottom: 5px solid $softRed;
        border-radius: 4px;
        cursor: pointer;
    }
    .line:hover {
        background-color: $softRed;
    }

}

@media only screen and (min-width: 380px){
    .container {
        .text {
           font-size: $fontSize18px;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        .text {
            font-size: $fontSize20px;
        }
    }
}
