

// Colors

$radiantRed : #FF3333;
$radiantBlue : #5E649B;
$softRed : #FF3F3F;
$fontColor: #DFDFDF;

// Font family

$mainFont : 'Montserrat', sans-serif;

// Font sizes - naming them from sizes in figma design

$fontSize14px : 1.4rem;
$fontSize16px : 1.6rem;
$fontSize18px : 1.8rem;
$fontSize20px : 2rem;
$fontSize24px : 2.4rem;
$fontSize28px : 2.8rem;
$fontSize32px : 3.2rem;
$fontSize40px : 4rem;
$fontSize52px : 5.2rem;


// Font weights 
$FWthin:300;
$FWregular : 400;
$FWsemiBold : 500;
$FWBold : 600;





